body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  border: 2px solid rgb(0, 0, 0);
  counter-reset: list;
  padding: 0;
}
.dashed {
  border-bottom: 1px dashed;
}
li {
  margin: 30px;
  padding-bottom: 10px;
}
.yellow {
  border: 2px solid orange;
}
.green {
  border: 2px solid rgb(0, 255, 128);
}
ul span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  background-color: black;
  color: #fff;
}
ul span.yellow {
  width: 25px;
  height: 25px;
  background-color: orange;
  color: #fff;
}
ul span.green {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(0, 255, 128);
  color: #fff;
}
