body {
  padding: 0;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
ol {
  border: 2px solid rgb(0, 0, 0);
  counter-reset: list;
  padding: 0;
  list-style: none;
  counter-reset: item;
}
ol li:not(:last-child) {
  border-bottom: 1px dashed;
}
li {
  counter-increment: item;
  margin-bottom: 5px;
  margin: 30px;
}
li:before {
  margin-right: 10px;
  content: counter(item);
  background: rgb(0, 0, 0);
  list-style: none;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
.yellow {
  border-color: orange;
}
.green {
  border-color: rgb(0, 255, 128);
}
.yellow li:before {
  background: orange;
}
.green li:before {
  border-radius: 50%;
  background: rgb(0, 255, 128);
}
